<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <listManagement.associateContacts>
        <processor type="Sitecore.Support.ListManagement.ContentSearch.Pipelines.AssociateContact.AssociateContacts, Sitecore.Support.309770" patch:instead="*[@type='Sitecore.ListManagement.ContentSearch.Pipelines.AssociateContact.AssociateContacts, Sitecore.ListManagement.ContentSearch']">
          <ContactRepository ref="contactRepository" />
          <ContactProcessingProvider ref="processContactsDataProvider" />
        </processor>
      </listManagement.associateContacts>
    </pipelines>
  </sitecore>
</configuration>